<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>blog</display-name>
  <filter>
    <display-name>charsetFilter</display-name>
    <filter-name>charsetFilter</filter-name>
    <filter-class>filter.charsetFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>charsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/errorPage/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/errorPage/500.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>test.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>gzipFilter</display-name>
    <filter-name>gzipFilter</filter-name>
    <filter-class>filter.gzipFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.html</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.css</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.js</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>QQLoginFilter</display-name>
    <filter-name>QQLoginFilter</filter-name>
    <filter-class>filter.QQLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>QQLoginFilter</filter-name>
    <url-pattern>/index.html</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/interfaces/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterHolderController</display-name>
    <servlet-name>RegisterHolderController</servlet-name>
    <servlet-class>Controller.RegisterHolderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterHolderController</servlet-name>
    <url-pattern>/RegisterHolderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterVisitorController</display-name>
    <servlet-name>RegisterVisitorController</servlet-name>
    <servlet-class>Controller.RegisterVisitorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterVisitorController</servlet-name>
    <url-pattern>/RegisterVisitorController</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>Listener.ServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UploadImageController</display-name>
    <servlet-name>UploadImageController</servlet-name>
    <servlet-class>Controller.UploadImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageController</servlet-name>
    <url-pattern>/UploadImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsVisitorExistController</display-name>
    <servlet-name>IsVisitorExistController</servlet-name>
    <servlet-class>Controller.IsVisitorExistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsVisitorExistController</servlet-name>
    <url-pattern>/IsVisitorExistController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenRandomIconController</display-name>
    <servlet-name>GenRandomIconController</servlet-name>
    <servlet-class>Controller.GenRandomIconController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenRandomIconController</servlet-name>
    <url-pattern>/GenRandomIconController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HolderLoginController</display-name>
    <servlet-name>HolderLoginController</servlet-name>
    <servlet-class>Controller.HolderLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolderLoginController</servlet-name>
    <url-pattern>/HolderLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertArticleController</display-name>
    <servlet-name>InsertArticleController</servlet-name>
    <servlet-class>Controller.InsertArticleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertArticleController</servlet-name>
    <url-pattern>/InsertArticleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectArticleBriefInfoController</display-name>
    <servlet-name>SelectArticleBriefInfoController</servlet-name>
    <servlet-class>Controller.SelectArticleBriefInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectArticleBriefInfoController</servlet-name>
    <url-pattern>/SelectArticleBriefInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBlogArticleController</display-name>
    <servlet-name>SelectBlogArticleController</servlet-name>
    <servlet-class>Controller.SelectBlogArticleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBlogArticleController</servlet-name>
    <url-pattern>/SelectBlogArticleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBlogArticleController</display-name>
    <servlet-name>UpdateBlogArticleController</servlet-name>
    <servlet-class>Controller.UpdateBlogArticleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBlogArticleController</servlet-name>
    <url-pattern>/UpdateBlogArticleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticleByIDController</display-name>
    <servlet-name>DeleteArticleByIDController</servlet-name>
    <servlet-class>Controller.DeleteArticleByIDController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticleByIDController</servlet-name>
    <url-pattern>/DeleteArticleByIDController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStatusController</display-name>
    <servlet-name>InsertStatusController</servlet-name>
    <servlet-class>Controller.InsertStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStatusController</servlet-name>
    <url-pattern>/InsertStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectStatusController</display-name>
    <servlet-name>SelectStatusController</servlet-name>
    <servlet-class>Controller.SelectStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectStatusController</servlet-name>
    <url-pattern>/SelectStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStatusController</display-name>
    <servlet-name>DeleteStatusController</servlet-name>
    <servlet-class>Controller.DeleteStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStatusController</servlet-name>
    <url-pattern>/DeleteStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNoticeController</display-name>
    <servlet-name>InsertNoticeController</servlet-name>
    <servlet-class>Controller.InsertNoticeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNoticeController</servlet-name>
    <url-pattern>/InsertNoticeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileInfoController</display-name>
    <servlet-name>UpdateProfileInfoController</servlet-name>
    <servlet-class>Controller.UpdateProfileInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileInfoController</servlet-name>
    <url-pattern>/UpdateProfileInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfileInfoController</display-name>
    <servlet-name>GetProfileInfoController</servlet-name>
    <servlet-class>Controller.GetProfileInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfileInfoController</servlet-name>
    <url-pattern>/GetProfileInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadProfileIconController</display-name>
    <servlet-name>UploadProfileIconController</servlet-name>
    <servlet-class>Controller.UploadProfileIconController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadProfileIconController</servlet-name>
    <url-pattern>/UploadProfileIconController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectMessageController</display-name>
    <servlet-name>SelectMessageController</servlet-name>
    <servlet-class>Controller.SelectMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMessageController</servlet-name>
    <url-pattern>/SelectMessageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessageController</display-name>
    <servlet-name>DeleteMessageController</servlet-name>
    <servlet-class>Controller.DeleteMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessageController</servlet-name>
    <url-pattern>/DeleteMessageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectHolderForIndexController</display-name>
    <servlet-name>SelectHolderForIndexController</servlet-name>
    <servlet-class>Controller.SelectHolderForIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectHolderForIndexController</servlet-name>
    <url-pattern>/SelectHolderForIndexController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectIndexController</display-name>
    <servlet-name>SelectIndexController</servlet-name>
    <servlet-class>Controller.SelectIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectIndexController</servlet-name>
    <url-pattern>/SelectIndexController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBlogArticleForIndexController</display-name>
    <servlet-name>SelectBlogArticleForIndexController</servlet-name>
    <servlet-class>Controller.SelectBlogArticleForIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBlogArticleForIndexController</servlet-name>
    <url-pattern>/SelectBlogArticleForIndexController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTotalRecordController</display-name>
    <servlet-name>GetTotalRecordController</servlet-name>
    <servlet-class>Controller.GetTotalRecordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTotalRecordController</servlet-name>
    <url-pattern>/GetTotalRecordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectNoticeController</display-name>
    <servlet-name>SelectNoticeController</servlet-name>
    <servlet-class>Controller.SelectNoticeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectNoticeController</servlet-name>
    <url-pattern>/SelectNoticeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectStatusForIndexController</display-name>
    <servlet-name>SelectStatusForIndexController</servlet-name>
    <servlet-class>Controller.SelectStatusForIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectStatusForIndexController</servlet-name>
    <url-pattern>/SelectStatusForIndexController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertVisitLogController</display-name>
    <servlet-name>InsertVisitLogController</servlet-name>
    <servlet-class>Controller.InsertVisitLogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertVisitLogController</servlet-name>
    <url-pattern>/InsertVisitLogController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsVistorLoginController</display-name>
    <servlet-name>IsVistorLoginController</servlet-name>
    <servlet-class>Controller.IsVistorLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsVistorLoginController</servlet-name>
    <url-pattern>/IsVistorLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitorLoginController</display-name>
    <servlet-name>VisitorLoginController</servlet-name>
    <servlet-class>Controller.VisitorLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorLoginController</servlet-name>
    <url-pattern>/VisitorLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelVisitorController</display-name>
    <servlet-name>CancelVisitorController</servlet-name>
    <servlet-class>Controller.CancelVisitorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelVisitorController</servlet-name>
    <url-pattern>/CancelVisitorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMessageController</display-name>
    <servlet-name>InsertMessageController</servlet-name>
    <servlet-class>Controller.InsertMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMessageController</servlet-name>
    <url-pattern>/InsertMessageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenMessageUIController</display-name>
    <servlet-name>GenMessageUIController</servlet-name>
    <servlet-class>WebUI.GenMessageUIController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenMessageUIController</servlet-name>
    <url-pattern>/GenMessageUIController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenArticleController</display-name>
    <servlet-name>GenArticleController</servlet-name>
    <servlet-class>Controller.GenArticleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenArticleController</servlet-name>
    <url-pattern>/GenArticleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelHolderController</display-name>
    <servlet-name>CancelHolderController</servlet-name>
    <servlet-class>Controller.CancelHolderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelHolderController</servlet-name>
    <url-pattern>/CancelHolderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectVisitorController</display-name>
    <servlet-name>SelectVisitorController</servlet-name>
    <servlet-class>Controller.SelectVisitorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectVisitorController</servlet-name>
    <url-pattern>/SelectVisitorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVisitorController</display-name>
    <servlet-name>DeleteVisitorController</servlet-name>
    <servlet-class>Controller.DeleteVisitorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVisitorController</servlet-name>
    <url-pattern>/DeleteVisitorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectVisitController</display-name>
    <servlet-name>SelectVisitController</servlet-name>
    <servlet-class>Controller.SelectVisitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectVisitController</servlet-name>
    <url-pattern>/SelectVisitController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectArticleVisitController</display-name>
    <servlet-name>SelectArticleVisitController</servlet-name>
    <servlet-class>Controller.SelectArticleVisitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectArticleVisitController</servlet-name>
    <url-pattern>/SelectArticleVisitController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticleVisitController</display-name>
    <servlet-name>DeleteArticleVisitController</servlet-name>
    <servlet-class>Controller.DeleteArticleVisitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticleVisitController</servlet-name>
    <url-pattern>/DeleteArticleVisitController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>OuterInterfaces.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticleByID</display-name>
    <servlet-name>DeleteArticleByID</servlet-name>
    <servlet-class>OuterInterfaces.DeleteArticleByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticleByID</servlet-name>
    <url-pattern>/interfaces/DeleteArticleByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticleVisit</display-name>
    <servlet-name>DeleteArticleVisit</servlet-name>
    <servlet-class>OuterInterfaces.DeleteArticleVisit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticleVisit</servlet-name>
    <url-pattern>/interfaces/DeleteArticleVisit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessage</display-name>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>OuterInterfaces.DeleteMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/interfaces/DeleteMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStatus</display-name>
    <servlet-name>DeleteStatus</servlet-name>
    <servlet-class>OuterInterfaces.DeleteStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStatus</servlet-name>
    <url-pattern>/interfaces/DeleteStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVisitor</display-name>
    <servlet-name>DeleteVisitor</servlet-name>
    <servlet-class>OuterInterfaces.DeleteVisitor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVisitor</servlet-name>
    <url-pattern>/interfaces/DeleteVisitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNotice</display-name>
    <servlet-name>InsertNotice</servlet-name>
    <servlet-class>OuterInterfaces.InsertNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNotice</servlet-name>
    <url-pattern>/interfaces/InsertNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStatus</display-name>
    <servlet-name>InsertStatus</servlet-name>
    <servlet-class>OuterInterfaces.InsertStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStatus</servlet-name>
    <url-pattern>/interfaces/InsertStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectMessage</display-name>
    <servlet-name>SelectMessage</servlet-name>
    <servlet-class>OuterInterfaces.SelectMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMessage</servlet-name>
    <url-pattern>/interfaces/SelectMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectVisit</display-name>
    <servlet-name>SelectVisit</servlet-name>
    <servlet-class>OuterInterfaces.SelectVisit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectVisit</servlet-name>
    <url-pattern>/interfaces/SelectVisit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectArticleVisit</display-name>
    <servlet-name>SelectArticleVisit</servlet-name>
    <servlet-class>OuterInterfaces.SelectArticleVisit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectArticleVisit</servlet-name>
    <url-pattern>/interfaces/SelectArticleVisit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectVisitor</display-name>
    <servlet-name>SelectVisitor</servlet-name>
    <servlet-class>OuterInterfaces.SelectVisitor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectVisitor</servlet-name>
    <url-pattern>/interfaces/SelectVisitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QQLoginController</display-name>
    <servlet-name>QQLoginController</servlet-name>
    <servlet-class>Controller.QQLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QQLoginController</servlet-name>
    <url-pattern>/QQLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectLoginRecordController</display-name>
    <servlet-name>SelectLoginRecordController</servlet-name>
    <servlet-class>Controller.SelectLoginRecordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectLoginRecordController</servlet-name>
    <url-pattern>/SelectLoginRecordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLoginRecordController</display-name>
    <servlet-name>DeleteLoginRecordController</servlet-name>
    <servlet-class>Controller.DeleteLoginRecordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLoginRecordController</servlet-name>
    <url-pattern>/DeleteLoginRecordController</url-pattern>
  </servlet-mapping>
</web-app>